In [16]:
import pandas as pd
import random 
import numpy as np

filename = 'data/RAW20220307.csv'

df = pd.read_csv(filename)

In [7]:
setODT = set(list([(o, d, date, hour) for o, d, date, hour in zip(df['origin_station_name'], df['destination_station_name'], df['origin_date'], df['hour_'])]))

In [92]:
useful_vars = ['origin_station_name', 'destination_station_name', 'origin_date', 'hour_', 'transfer_time', 'avg_time', 'full_price', 'via_stations', 'hourly_cnt']

static_vars = ['hour_', 'normal_ratio', 'eld_ratio']

dict_vars_map1 = {'transfer_time': 'transfer_time1',  
                  'avg_time': 'avg_time1', 
                  'full_price': 'full_price1', 
                  'via_stations': 'via_stations1', 
                  'hourly_cnt': 'hourly_cnt1', 
                  }

dict_vars_map2 = {'transfer_time': 'transfer_time2',  
                  'avg_time': 'avg_time2', 
                  'full_price': 'full_price2', 
                  'via_stations': 'via_stations2', 
                  'hourly_cnt': 'hourly_cnt2', 
                  }

dict_vars_map3 = {'transfer_time': 'transfer_time3',  
                  'avg_time': 'avg_time3', 
                  'full_price': 'full_price3', 
                  'via_stations': 'via_stations3', 
                  'hourly_cnt': 'hourly_cnt3', 
                  }

dict_vars_map4 = {'transfer_time': 'transfer_time4',  
                  'avg_time': 'avg_time4', 
                  'full_price': 'full_price4', 
                  'via_stations': 'via_stations4', 
                  'hourly_cnt': 'hourly_cnt4', 
                  }

dict_vars_map5 = {'transfer_time': 'transfer_time5',  
                  'avg_time': 'avg_time5', 
                  'full_price': 'full_price5', 
                  'via_stations': 'via_stations5', 
                  'hourly_cnt': 'hourly_cnt5', 
                  }

listDictVarsMap = [dict_vars_map1, dict_vars_map2, dict_vars_map3, dict_vars_map4, dict_vars_map5]

In [119]:
listDfAll = []

count = 0
for odt in setODT:
    o, d, date, hour = odt
    dfTemp = df[(df['origin_station_name']==o) & (df['destination_station_name']==d) & (df['origin_date']==date) & (df['hour_']==hour)]
    n = dfTemp.shape[0]
    if n > 1:
        n_idx_shuffle = np.arange(1,n+1)
        np.random.shuffle(n_idx_shuffle)
        listDfTemp = [dfTemp[dfTemp['cnt_rnk']==n_idx_shuffle[i]][useful_vars].rename(columns=listDictVarsMap[i]) for i in range(n)]
        dfAll = listDfTemp[0]
        for i in range(1, n):
            dfAll = pd.merge(dfAll,listDfTemp[i], on=['origin_station_name', 'destination_station_name', 'origin_date', 'hour_'])
        listDfAll.append(dfAll)
        
        count += 1
        if count > 100:
            break

In [120]:
len(listDfAll)

101

In [121]:
pd.concat(listDfAll, axis=0)

,origin_station_name,destination_station_name,origin_date,hour_,transfer_time1,avg_time1,full_price1,via_stations1,hourly_cnt1,transfer_time2,...,transfer_time4,avg_time4,full_price4,via_stations4,hourly_cnt4,transfer_time5,avg_time5,full_price5,via_stations5,hourly_cnt5
0,护林路（茅岗路口）站,广东软件园站,2022-03-07,7,0,46.183333,2.0,8.0,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,宝业路站,金沙路站,2022-03-07,17,0,7.351600,1.0,4.0,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,人和华成路中站,人和墟站,2022-03-07,18,0,11.947000,2.0,5.0,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,华侨城站,南区公园(福德路)站,2022-03-07,8,0,4.144583,2.0,1.0,6,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,礼岗（省口腔医院）站,保利红棉花园站,2022-03-07,8,0,7.967000,2.0,3.0,6,0,...,0.0,7.012500,2.0,3.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,江南新村站,宝岗大道北站,2022-03-07,7,0,5.850000,2.0,3.0,7,0,...,0.0,6.216571,2.0,3.0,8.0,0.0,7.042,1.0,3.0,9.0
0,工业大道口站,宝业路口站,2022-03-07,7,0,2.633000,0.0,2.0,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,程界村站,国防大厦站,2022-03-07,7,0,15.989000,2.0,3.0,11,0,...,0.0,12.750000,2.0,2.0,12.0,0.0,15.583,1.2,3.0,9.0
0,黄村西路站,车陂站,2022-03-07,9,0,2.700000,2.0,1.0,7,0,...,0.0,2.526600,2.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN
0,同福西路站,宝岗大道北站,2022-03-07,9,0,5.003091,2.0,2.0,11,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
# dict(dict(listDfTemp[0]).items() + dict(listDfTemp[1]).items())

dall = {}

dall.update(listDfTemp[0])
dall.update(listDfTemp[1])

# ddd = dict(listDfTemp[0]).update(dict(listDfTemp[1]))

pd.concat(listDfTemp)

,transfer_time1,avg_time1,full_price1,via_stations1,hourly_cnt1,transfer_time2,avg_time2,full_price2,via_stations2,hourly_cnt2,...,transfer_time4,avg_time4,full_price4,via_stations4,hourly_cnt4,transfer_time5,avg_time5,full_price5,via_stations5,hourly_cnt5
0,0.0,15.261,2.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,0.0,16.219333,2.0,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,30.8,2.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,17.0,2.0,3.0,5.0

In [101]:
# listDfTemp[0].join(listDfTemp[1], axis=1)

dfAll = listDfTemp[0]
for i in range(1, n):
    dfAll = pd.merge(dfAll,listDfTemp[i], on=['origin_station_name', 'destination_station_name', 'origin_date', 'hour_'])

dfAll

,origin_station_name,destination_station_name,origin_date,hour_,transfer_time1,avg_time1,full_price1,via_stations1,hourly_cnt1,transfer_time2,...,transfer_time4,avg_time4,full_price4,via_stations4,hourly_cnt4,transfer_time5,avg_time5,full_price5,via_stations5,hourly_cnt5
0,中山八路站,广佛路东站,2022-03-07,16,0,14.825,2.0,3.0,8,0,...,0,30.8,2.0,8.0,6,0,15.261,2.0,3.0,5